.icon{display:inline-block; *display:inline; *zoom:1; vertical-align:top; width:20px; height:20px; background:url('../img/sprites/icons.png'); background-size:800px 20px; background-position: 0 0; position:relative;}
.icon.icon-black.icon-textarea{background-position:0 0}
.icon.icon-black.icon-div{background-position:-20px 0}
.icon.icon-black.icon-a{background-position:-40px 0}
.icon.icon-black.icon-input{background-position:-60px 0}
.icon.icon-black.icon-button{background-position:-80px 0}
.icon.icon-black.icon-p{background-position:-100px 0}
.icon.icon-black.icon-checkbox{background-position:-120px 0}
.icon.icon-black.icon-radio{background-position:-140px 0}
.icon.icon-black.icon-select{background-position:-160px 0}
.icon.icon-black.icon-video{background-position:-180px 0}
.icon.icon-black.icon-map{background-position:-200px 0}
.icon.icon-black.icon-image{background-position:-220px 0}
.icon.icon-black.icon-slider{background-position:-240px 0}
.icon.icon-black.icon-chart{background-position:-260px 0}
.icon.icon-black.icon-h2{background-position:-280px 0}
.icon.icon-black.icon-plus{background-position:-300px 0}
.icon.icon-black.icon-minus{background-position:-320px 0}
.icon.icon-black.icon-fullscreen{background-position:-340px 0}
.icon.icon-black.icon-text-strong{background-position:-360px 0}
.icon.icon-black.icon-text-italic{background-position:-380px 0}
.icon.icon-black.icon-text-sub{background-position:-400px 0}
.icon.icon-black.icon-text-sup{background-position:-420px 0}
.icon.icon-black.icon-text-left{background-position:-440px 0}
.icon.icon-black.icon-text-center{background-position:-460px 0}
.icon.icon-black.icon-text-right{background-position:-480px 0}
.icon.icon-black.icon-undo{background-position:-500px 0}
.icon.icon-black.icon-redo{background-position:-520px 0}
.icon.icon-black.icon-text-strike{background-position:-540px 0}
.icon.icon-black.icon-text-underline{background-position:-560px 0}
.icon.icon-black.icon-text-ol{background-position:-580px 0}
.icon.icon-black.icon-text-ul{background-position:-600px 0}
.icon.icon-black.icon-text-remove-format{background-position:-620px 0}
.icon.icon-black.icon-text-remove-link{background-position:-640px 0}
.icon.icon-black.icon-text-insert-char{background-position:-660px 0}
.icon.icon-black.icon-delete{background-position:-680px 0}
.icon.icon-black.copy{background-position:-700px 0}
.icon.icon-black.show-pass{background-position:-720px 0}

.input-icon{display:inline-block; *display:inline; *zoom:1; vertical-align:top;	width:30px; height:30px; background-image: url('../img/sprites/input.png'); background-position: 0 0; position:relative;}
.input-icon.icon-blue.icon-checkbox-true{background-position:0 0}
.input-icon.icon-blue.icon-checkbox-false{background-position:0 30px}
.input-icon.icon-green.icon-checkbox-true{background-position:-30px 0}
.input-icon.icon-green.icon-checkbox-false{background-position:-30px 30px}
