#slider{float:left; width:100%; height:760px; padding-top:73px; background-color:#0b598a;}
#slider .slider{width:960px; height:600px; margin:0 auto;}
#slider .slider img{box-shadow:42px 30px 112px -50px #333333;}
#slider .siteeditpro{position:absolute; top:133px; z-index:2;}
#slider .text{float:left; width:328px; margin-top:69px; color:#FFFFFF;}
/*#slider h3, */
#footer h3{color:#FFFFFF;}

/*#slider .button{float:left; width:200px; height:80px; margin-top:5px; background-color: #d60000; color:#fff; font-size:30px; text-decoration:none; text-align:center; line-height:80px;}*/
/*#slider .button:hover{background-color: #c40000;}*/
/*#slider .button span{font-size:11px;}*/
#slider .work-search{float:left; width:155px; height:560px; padding:20px; background-color:#F7F7F7;}
#slider .work-search .cyan-button{margin-left:0;}
#slider .work-description{position:relative; width:560px; height:150px; top:-720px; left:360px; background-color:#EEEEEE; box-shadow:9px 10px 10px -10px rgba(0,0,0,1);}

/*#slider select:hover{border:1px dashed #B9BEC3;}*/


#content{float:left; width:100%;}
#content .content{width:960px; margin:0 auto;}
#content .text{float:left; width:280px; margin:0 20px 40px 20px; line-height:21px;}

#footer{float:left; width:100%; background-color:#555d64; color:#EEEEEE;}
#footer .footer{width:960px; margin:0 auto;}
#footer .text{float:left; width:280px; margin:0 20px 20px 20px; line-height:21px;}
#footer .text img{box-shadow:42px 30px 112px -50px #111;}


.tabs{width:960px; height:60px; margin:0 auto; font-size:16px;}
.tab{float:left; min-width:120px; height:29px; padding:10px 20px; margin-top:10px; text-align:center; text-decoration: none; line-height:30px; background:#F1F1F1; color:#555d64; border-left:1px solid #CCCCCC; border-bottom:1px solid #CCCCCC; cursor:pointer;}
.tab:first-child{border-left:0;}
.tab:hover{background:#F7F7F7;}
.tab.active{height:40px; margin-top:0; text-align:center; line-height:40px; background:#FFFFFF; color:#000000; box-shadow:0 5px 24px -7px rgba(0,0,0,1); cursor:default;}

.slider-page{position:relative; height:100%; border:20px solid #FFFFFF; background-color:#FFFFFF;}
.slider-page h3{margin-top:10px; color:#4C4C4C;}

#work-list{box-shadow:9px 10px 10px -10px rgba(0,0,0,1);}
    #list{float:left; width:370px; height:100%; margin-left:215px;}
        #list .work{height:60px; margin:1px 1px 1px 0; padding:10px; background-color:#F7F7F7; border:1px solid #FFFFFF; color:#4C4C4C; cursor:pointer;}
        #list .work:first-child{margin-top:0;}
        /*#list .work:hover{background-color:#FFFFFF; border:1px solid #F1F1F1;}*/
            #list .prof{font-weight:bold; margin:4px 0;}
            #list .pay{float:right; width:80px; height:80px; margin:-10px -10px -10px 0; background:#F1F1F1; border-left:1px solid #CCCCCC; text-align:center; line-height:80px;}

#list-ad{width:335px;}
#list-ad .work{height:60px; margin:1px 1px 1px 0; padding:10px; background-color:#F7F7F7; color:#4C4C4C; cursor:pointer;}
#list-ad .work:first-child{margin-top:0;}
#list-ad .prof{font-weight:bold; margin:4px 0;}
#list-ad .pay{float:right; width:80px; height:80px; margin:-10px -10px -10px 0; background:#F1F1F1; border-left:1px solid #CCCCCC; text-align:center; line-height:80px;}

#description{float:right; position:relative; width:314px; height:600px; margin-left:1px;}
#description h3{margin-top:22px;}
#description .employer-info{position:absolute; width:274px; height:60px; padding:10px 20px; bottom:100px; background:#F1F1F1;}
#description .gallery{overflow:hidden; position:absolute; width:100%; height:80px; bottom:0; background:#F1F1F1;}
#description .photos{overflow:hidden; width:1000px;}
#description .photo{float:left; cursor:pointer;}
#description .photo img{max-height:80px; margin-right:10px;}
    .icon-40{display:inline-block; *display:inline; *zoom:1; vertical-align:top; width:40px; height:37px; background:url('../img/sprites/bigIcons.png'); background-position: 0 0; position:relative;}
    .icon-40.icon-next{background-position:0 0}
    .icon-40.icon-prev{background-position:-40px 0}
    .icon-40.icon-close{background-position:-80px 0}

    .close{position:absolute; float:right; width:50px; height:50px; top:30px; right:30px; cursor:pointer; z-index: 2}
    .prev-button{position:absolute; float:left; width:50px; height:50px; margin:30% 0; left:30px; cursor:pointer; z-index:2}
    .next-button{position:absolute; float:right; width:50px; height:50px; margin:30% 0; right:30px; cursor:pointer; z-index:2}

    .darkness{position:absolute; top:0; width:100%; height:100%; background:rgba(0,0,0,0.8); z-index:10000;}
    .gallery-photos{overflow:hidden; top:0; width:100%; height:100%;}
    .gallery-photo{overflow:hidden; max-width:80%; height:80%; margin:6% auto; cursor:pointer;}
    .gallery-photo img{position:relative; width:100%;}

#contract-page b{font-weight:normal; text-decoration:underline;}