::-webkit-scrollbar{width:8px; height:8px; cursor:default;}
::-webkit-scrollbar-thumb{background:#CDD1D6; cursor:default;}
::-webkit-scrollbar-track{box-shadow:inset 0 0 1px rgba(0,0,0,0.3); cursor:default;}

html{-ms-interpolation-mode:nearest-neighbor; image-rendering:-webkit-optimize-contrast; image-rendering:-moz-crisp-edges; image-rendering:-o-crisp-edges; image-rendering:crisp-edges;}

body{margin:0; font:13px "Tahoma",sans-serif; background-color:#0b598a;}
body:after{content:""; position:fixed; left:0; top:0; width:100%; height:4px;
	-webkit-border-radius:50%;
	border-radius:50%;
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);z-index:20001;}
h1{font-size:27px; font-weight:normal;}
h2{font:27px "Tahoma",sans-serif;}
h3{font:25px "Tahoma",sans-serif; color:#0B598A;}
input[type="text"]{padding:4px 10px;}
input[type="password"]{padding:4px 10px;}
input[type="number"]{padding:4px 10px;}
input[type="email"]{padding:4px 10px;}
input[type="url"]{padding:4px 10px;}
input[type="checkbox"]{color:#FFFFFF; margin:0 6px 7px 0;}
input[type="file"]{border:1px solid rgba(59,109,150,0.2)}
input:hover, input:focus{padding:5px 11px;}
select{margin:0; padding:4px 10px;}
label{margin:0 10px;}
a{outline:none; color:#004A74;}
a.dotted{outline:none; text-decoration:none; color:#004A74; border-bottom:1px dotted;}
textarea{font:14px "Tahoma",sans-serif;}
option{padding:10px;}
option.disabled{background-color:#555D64; color:#FFFFFF;}
input, select, textarea{margin:6px 0; outline:none;}
[contenteditable="true"]{outline:none;}
label{margin-left:0;}
/*[contenteditable="text"] не обрабатывает hover без !important*/
input:hover, select:hover, textarea:hover, [contenteditable="true"]:hover{border:1px solid #0b598a!important;}
input:focus, select:focus, textarea:focus, [contenteditable="true"]:focus{border:1px solid #C40000!important;}
/*input:hover{border:2px dashed #B9BEC3;}*/


.clearfix::after{visibility:hidden; content:'.'; display:block; clear:both; height:0; font-size:0;}
.h{display:none;}
.button{}
.scrollx{overflow-x:hidden;}
.scrolly{overflow-y:hidden;}

/* Костыль - !important */
.unselectable{-webkit-touch-callout:none !important; -webkit-user-drag:none !important; -webkit-user-select:none !important; -moz-user-select:none !important; -ms-user-select:none !important; user-select:none !important;}
/************************/

.cyan-button{float:left; display:block; height:26px; line-height:26px; margin:5px 5px 5px 0; padding:0 10px; text-decoration:none; text-align:center; background-color:#0B598A; color:#FFFFFF; cursor:pointer;}
.cyan-button:hover{background-color:#004A74;}